<%- include('../partials/header') %>
<div class="flex-center">
  <div>
    <ul>
      <% skills.forEach(skill => {%>

      <li>
        <form
          action="/skills/<%=skill.id%>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button type="submit">x</button>
        </form>
        <a href="/skills/<%= skill.id %>"><%= skill.name %></a>
      </li>

      <%}) %>
    </ul>
    <a class="a-button" href="/skills/new">Add New Skill</a>
  </div>
</div>

<%- include('../partials/footer') %>
