<%- include('../partials/header') %>
<div class="flex-center">
    <article>
        <h2><%= skill.name %></h2>
        <p><%= skill.description %></p>
        <a href="<%= skill.link %>">Learn more</a>
    </article>
</div>

<%- include('../partials/footer') %>