<%- include('../partials/header') %>
<div class="flex-center">
  <article>
    <h2><%= skill.name %></h2>
    <p><%= skill.description %></p>
    <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
  </article>
</div>

<%- include('../partials/footer') %>
